/* Styles des divisions principales de la page */
body{
        background-color: #77AADD;
        background-image: url(imgs/FONDGLOBAL.jpg);
        background-repeat: repeat-x;     
 }
.container{
        background-color:white;
        border : 0.2em solid black;
 }
 
 .ligneFicheFraisForfaisCloturee{
     background-color: rgba(100,200,200,.7);
 }

 .divCacheValidation
 {
  width: 800px; 
  background-color: rgba(220,250,250,.9);
  position: absolute;
  margin-top: -150px;
  margin-left: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,.5),
              0 0 10px rgba(0,0,0,.8) inset;
  border-radius: 5px;
  padding: 30px;
  padding-top: 10px;
  display: block;
  margin-bottom: 20px;
 }

.btn-validation
{
  border-color: rgba(50,50,50,.5); 
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  background-color: rgba(50,50,50,.3);
  width: 100px;
  margin-left: 20px;
}

.btn-validation:hover
{
  background-color: rgba(50,50,50,.5);
}

.btn-validation-modification
{
  border-color: rgba(50,50,50,.5); 
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  background-color: rgba(50,150,50,.3);
  width: 200px;
  margin-left: 50px;
}

.btn-validation-modification:hover
{
  background-color: rgba(50,150,50,.5);
}

.btn-annulation
{
  border-color: rgba(100,0,0,.5); 
  background-color: rgba(100,50,50,.3);
  box-shadow: 0 0 5px rgba(100,0,0,.7); 
  width: 100px; 
  margin-left: 20px;
}

.btn-annulation:hover
{
  background-color: rgba(100,50,50,.5);
}

.btn-suppression
{
  border-color: rgba(100,0,0,.5); 
  background-color: rgba(200,50,50,.7);
  box-shadow: 0 0 5px rgba(100,0,0,.7); 
  width: 80%; 
  margin-left: 20px;
  color: rgba(0,0,0,.7);
}

.btn-suppression:hover
{
  background-color: rgba(200,50,50,.5);
    color: rgba(150,0,0,.7);
}

.modifMontantInput
{
  text-align: center; 
  width: 100%; 
  font-size: 1.2em; 
  background-color: transparent;
}

#ficheFraisValidee
{
  width: 300px;
  padding: 30px;
  background-color: rgba(200,255,255,.9);
  color: rgba(0,120,0,.8);
  position: relative;
  margin-left: 250px;
  margin-top: -130px;
  margin-bottom: 50px;
  border-radius: 5px; 
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,.8),
              0 0 10px rgba(0,200,200,.5) inset;
  display: none;
}

#motifSuppressionLigneHorsForfait
{
  padding: 20px;
  position: absolute;
  margin-left: 130px;
  margin-top: 250px; 
  background-color: rgba(200,255,255,.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.8),
              0 0 10px rgba(0,200,200,.5) inset;
  border: solid 1px black;
  display: none;
}

#ficheFraisNonValidee
{
  width: 320px;
  padding: 30px;
  background-color: rgba(255,200,200,.9);
  color: rgba(0,0,0,.8);
  position: relative;
  margin-left: 240px;
  margin-top: -130px;
  margin-bottom: 50px;
  border-radius: 5px; 
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,.8),
              0 0 10px rgba(200,0,0,.5) inset;
  display: none;
}

.modifierFicheFrais
{
  float: right;
  margin-right: 20px;
  color: rgba(150,100,100,.7);
}

.modifierFicheFrais:hover 
{
  text-decoration: underline;
}

#contenu{
	border: none;
	padding: 1.3em;
	border-left :  groove 0.8em #980101;
        /* permet de fixer une hauteur mini sur les navigateurs modernes */
         min-height:27em;
/* pour obtenir le même effet sur IE, sachant que si le contenu dépasse, il
"poussera" la hauteur en ne respectant pas la norme. On se joue de ses lacunes
*/
         height:27em;
  }

/* pour rétablir le mauvais effet sur les nav. modernes */
html>body #contenu{
        height:auto;
}

header{
        background-color:rgb(72,198,236);
	color : #980101;
	border: solid 0.1em #980101;
	height: 154px;
	border-collapse: separate;
}
header #logoGSB {
  width : 238px;
  height : 152px;
}

header h1 {
  font-size : x-large;
 }
nav {
	margin-top : 0.8em;
	padding: 1em;
	background-color: white;
	color: rgb(0,85,227);
}

#contenu pre {
  width:95%;
  overflow : scroll;
}
#contenu h2 {
  font-size : large;
  text-align:left;
  margin:0;
  margin-bottom:0.5em;
}

.logoValidW3c {
  display: inline;
}
#libValidW3c{
  display : inline;
  vertical-align:middle;
}
legend {
    width: auto;
}
/* Style des formulaires */
.corpsForm {
  border : solid 0.1em #000;
  border-bottom-width:1px;
  padding: 0.8em;
  width : 95%;
}
.piedForm {
  text-align:right ;
  width : 95%;
  margin-top:0em;
}
form {
  margin-bottom:1em;  
}
.corpsForm legend {
  font-weight:bold;
  font-size:1.2em;
}

.text-danger{
    color:rgb(203,28,128);  
    font-size : x-large;
}

.centre {
  text-align:center;
}

/* Style pour les liens de la page principale */
#contenu .label-info {
    font-size:1.1em;
}
/* Style pour les parties importantes de la page principale */
#contenu strong {
  font-weight:bold;
}

/* Style pour les lignes d'en-tête des tableaux */
#contenu th {  
   background-color:#77AADD;
   height:21px;
   text-align:left;
   vertical-align:top;
   font-weight:bold;
   border-bottom:0.1em solid #777777;
   font-size:1.1em;
} 

#contenu h3 {
    font-size : 1.2em;
}
#contenu table {
    width:95%;
    margin-bottom : 1em;
}

table caption {
  font-weight:bold;
  font-size:1.2em;
  text-align : left;
  margin-bottom : 0.3em;
}

#contenu h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1D2941;
	text-decoration: none;
	border : 1px solid #6988BE;
	padding-left: 25px;
	background-color: #E9F1FE;
  height : 28px;
}

#contenu img {
  height : 28px;
  float : left;

}
#FraisSuppr{
    color:#ccc;
     text-shadow:0 -1px 0 black;  
     background: #8A0808;
    
}
#FraisSuppr:hover,#FraisSuppr:focus{
     background:#DF0101;
     box-shadow:0 1px 0 rgba(255,255,255,.4);
}

#motifSuppr{
    font-size:50px;
}
